/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
    background-color: rgba(121, 119, 119, 0.99); /* ! same as navbar */
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    font-family: "Nobile", sans-serif !important;
    text-transform: capitalize;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

/*!--------------- QUOTES ------------------ */

  .quote-carousel {
    text-align: center;
    color: #fdfcfc93;
    font-style: italic;
    letter-spacing: 0.2em;
    quotes: "“" "”" "‘" "’";
  }

  /*!--------------- BUTTONS ------------------ */

  .btn-action {
    
    padding: 10px;
    border-radius: 8px; 
    text-align: center;
    color: white;
    background-color: #3b3b3b;
    border-color: #555454;
  }
  
  .btn-action:hover,
  .btn-action:active,
  .btn-action:focus,
  .btn-action:active:focus {
    color: white;
    text-decoration: none;
    background-color: #6b6a6a;
    border-color: #595858;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
/*!--------------- container color ------------------*/
.marketing-container-color {
  background-color:rgb(204, 134, 4);
}

.container-fluid {
  margin-top: -64px;
  padding-top: 64px;
}

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  /*!--------------- TESTIMOMIALS ------------------ */

  .testimonial-rounded-circle {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 0;;
    margin-left: 0;
    border-radius: 50%;
  }

  
 
  